/*
  homeycombs.css
  Original code taken from https://github.com/mstrehse/honeycombs
  Edited by Brianna Gainley
  Spring 2014
*/

/* overarching honeycomb style */
.honeycombs {
  position: relative;
  overflow: scroll;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

/* inner div styles which include the hidden edges of the hexes */
.honeycombs .inner_span {
  display: block !important;
  height: 100%;
  width: 100%;
  background-color: #fffffe;
  font-family: sans-serif;
  /*text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.27);*/
  color: #000;
    -webkit-transition: -webkit-transform .1s ease-in-out; /* to change the color of hovered hexes */
  
}

.honeycombs .inner_span:hover {
	background-color: #ffeb76; /* hex hover change color */
}

/* text in hex styles */
.honeycombs .inner-text {
  padding-top: 17%;
}

/* hex container styles (body of the page */
.honeycombs .honeycombs-inner-wrapper {
  display: inline-block;
  
  /* NRS 4/22/2014: removing this prevents clipping hexagons off the bottom */
  /*overflow: hidden;*/
  width: 700px;
  position: relative;
  height: 1200px;
}

/* actual hexagons as rendered on the page */
.honeycombs .comb {
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform .1s ease-in-out;
}

.honeycombs .comb:hover {
	-webkit-transform: scale(1.2);
	z-index: 9999;
}

.honeycombs .hex_l,
.honeycombs .hex_r {
  overflow: hidden;
  position: absolute;
  /* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l {
  visibility: hidden;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.honeycombs .hex_r {
  visibility: hidden;
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg);
}

.honeycombs .hex_inner {
  display: block;
  background-color: #f7cd07;
  color: rgba(0, 0, 0, 0.6);
  visibility: visible;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* links within hex styles */
a {
	text-decoration: none;
	color:  #ff6969;
}