/*
  timeline.css
  Styles to be used with timeline.php
  Mostly repsonsive grid styles and wordcloud styles
  Brianna Gainley
  Spring 2014
*/

/*  GRID OF TWO   ============================================================================= */

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}


/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/* begin wordcloud styles */
#wordcloud {
	width:  100%;
}

#wordcloudImg {
	width:  700px;
	height: 625px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ff6969;
}
/* end wordcloud styles */

/* user input form margins for alignment*/
input[type=text] {
	margin-left: 10px;
}

/* vertically center bar charts within their divs */
.barCharts {
	margin-top: 100px;
}